.table{
    background-color: aquamarine;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

body{
    color: rgb(209, 9, 126);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    background-image: url(imagenes/21omxpw.jpg);
}